*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #222222;
    font-size: x;15px;
    line-height: 1.4em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clear{
    clear: both;
}
.fullwidth{
    width: 100%;
    padding: 0;
    margin: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#header {
    height:70px;
    background: #3a3c39;
    padding: 15px 0;
	

}
#logo {
    width:80px;
    height:auto;
    float: left;
    position: relative;
    margin-left: 20px;
}
#logo img{
    max-width: 100%;
    height: auto;
    display: block;
}
#heading{
    width: 900px;
    float: right;
}
#heading h1 {
    font-size:20px;
    color:#fff;
    margin:0;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
	text-transform: uppercase;
}
#heading h1 span{
    font-weight: 700;
}
iframe{
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    display: block;
}
.banner{
    background: #bebebe;
    position: relative;
    float: left;
    margin: 20px;
    display: block;
}
.banner h1{
    margin: 0;
    position: absolute;
    top: -20px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #f5f5f5;
    line-height: 1.2em;
}
#banner1 {
    width:336px;
    height:280px;
}
#banner2 {
    width:180px;
    height:150px;
    margin: 20px;
}
#banner3 {
    width:160px;
    height:600px;
    margin: 20px 62px;
}
#banner4 {
    width:300px;
    height:250px;
}
#banner5 {
    width:300px;
    height:600px;
}
#banner6 {
    width:728px;
    height:90px;
    margin: 20px auto;
    float: none;
}
#banner7 {
    width:320px;
    height:50px; 
}

#footer {
    width:100%;
    height:70px;
    padding: 10px 0;
    background:#3a3c39;
}
#rateus {
    width:300px;
    height:50px;
    display: block;
    margin: 0 auto;
}
#dotoNF {
    width:150px;
    height:50px;
    float: right;
    line-height: 50px;
    color:#fff;
    text-transform: uppercase;
    position: absolute;
    text-align: right;
    right: 0;
    top: 0px;
}